<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marcs Notes</title>
    <link rel="stylesheet" href="styles/index.css" />
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      {header}
      <div class="page-container">
        <div class="tags">{all_tags_list}</div>

        <h2>Recent ({recent_count})</h2>

        <div class="post-list">{post_list}</div>

        <h2>Archive ({archived_count})</h2>
        <p>Old and less relevant posts.</p>
        <div class="post-list">{archived_post_list}</div>
      </div>
    </div>
  </body>
</html>
