<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/favicons/safari-pinned-tab.svg"
      color="#000000"
    />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <meta
      name="description"
      content="Marc Julian Schwarz - Data Scientist at AHEAD Automotive GmbH"
    />
    <meta property="og:image" content="/assets/logo.tiff" />

    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/blog.css" />

    <title>Blog - Marc Julian</title>
  </head>
  <body>
    {header}
    <main class="main-width-control">
      <article class="article-control">
        <div class="title-header">
          <h1><span class="special">Marc Julian</span> Schwarz</h1>
          <p>Data Scientist @ AHEAD Automotive</p>
        </div>
      </article>
        <!-- <article>
          <div class="blog-title">
            <h1><span class="special">Marc Julian</span> - Blog</h1>
          </div>
        </article> -->
        <article class="article-control" id="blog-index">
          <div class="tags">{all_tags_list}</div>
          <!-- <h2>Recent ({recent_count})</h2> -->
          <div class="posts">{post_list}</div>
        </article>
      </div>
    </main>
  </body>
</html>
